# Puerto del servidor
PORT=3000

# API Key de Real-Debrid (Obtenla en https://real-debrid.com/apitoken)
REALDEBRID_API_KEY=tu_token_de_real_debrid_aqui

# API Key / Token de TMDB (Obtenla en https://www.themoviedb.org/settings/api)
TMDB_API_KEY=tu_api_key_de_tmdb_aqui

# Configuración regional de TMDB
TMDB_LANGUAGE=es-ES
